
/* ========================= Index ========================= */

.index-page {
  margin: 20px 10px;
}

.todo-table {
  margin-bottom: 50px;
}

.overdue td {
  color: red;
}

/* ========================= Form ========================= */

.form-page {
  margin: 20px 10px;
}

.todo-form {
  margin-bottom: 50px;
}

.form-page p {
  margin-left: 60px;
}

.error-message {
  color: red;
}